In [42]:
import pypowsybl.network as pn
n = pp.network.create_ieee9()
# XIIDM is the internal xml format
pn.get_export_formats()

['AMPL', 'CGMES', 'JIIDM', 'MATPOWER', 'PSS/E', 'UCTE', 'XIIDM']

In [43]:
n.save('case1/case1.xiidm', format='XIIDM')
n.save('case1/case1.zip', format='CGMES')

In [51]:
n.get_lines().head(3)

,name,r,x,g1,b1,g2,b2,p1,q1,i1,p2,q2,i2,voltage_level1_id,voltage_level2_id,bus1_id,bus2_id,connected1,connected2
id,,,,,,,,,,,,,,,,,,,
L7-8-0,,3.14,1.59,0.0,0.000745,0.0,0.000745,NaN,NaN,NaN,NaN,NaN,NaN,VL2,VL8,VL2_1,VL8_0,True,True
L7-5-0,,3.20,16.10,0.0,0.001530,0.0,0.001530,NaN,NaN,NaN,NaN,NaN,NaN,VL2,VL5,VL2_1,VL5_0,True,True
L9-6-0,,3.90,17.00,0.0,0.001790,0.0,0.001790,NaN,NaN,NaN,NaN,NaN,NaN,VL3,VL6,VL3_1,VL6_0,True,True

In [50]:
n.update_lines(id='L7-8-0', r=3.14, x=1.59)
n.remove_elements('L9-8-0')
n.save('case2/case2.xiidm', format='XIIDM')
n.save('case2/case2.zip', format='CGMES')

In [46]:
n1 = pn.load('case1/case1.xiidm')

In [47]:
n1.get_lines()

,name,r,x,g1,b1,g2,b2,p1,q1,i1,p2,q2,i2,voltage_level1_id,voltage_level2_id,bus1_id,bus2_id,connected1,connected2
id,,,,,,,,,,,,,,,,,,,
L7-8-0,,0.85,7.20,0.0,0.000745,0.0,0.000745,NaN,NaN,NaN,NaN,NaN,NaN,VL2,VL8,VL2_1,VL8_0,True,True
L9-8-0,,1.19,10.08,0.0,0.001045,0.0,0.001045,NaN,NaN,NaN,NaN,NaN,NaN,VL3,VL8,VL3_1,VL8_0,True,True
L7-5-0,,3.20,16.10,0.0,0.001530,0.0,0.001530,NaN,NaN,NaN,NaN,NaN,NaN,VL2,VL5,VL2_1,VL5_0,True,True
L9-6-0,,3.90,17.00,0.0,0.001790,0.0,0.001790,NaN,NaN,NaN,NaN,NaN,NaN,VL3,VL6,VL3_1,VL6_0,True,True
L5-4-0,,1.00,8.50,0.0,0.000880,0.0,0.000880,NaN,NaN,NaN,NaN,NaN,NaN,VL5,VL1,VL5_0,VL1_1,True,True
L6-4-0,,1.70,9.20,0.0,0.000790,0.0,0.000790,NaN,NaN,NaN,NaN,NaN,NaN,VL6,VL1,VL6_0,VL1_1,True,True

In [49]:
n2 = pn.load('case2/case2.zip')
n2.get_lines()

,name,r,x,g1,b1,g2,b2,p1,q1,i1,p2,q2,i2,voltage_level1_id,voltage_level2_id,bus1_id,bus2_id,connected1,connected2
id,,,,,,,,,,,,,,,,,,,
L7-8-0,L7-8-0,3.14,1.59,0.0,0.000745,0.0,0.000745,0.0,0.0,0.0,0.0,0.0,0.0,VL2,VL8,VL2_1,VL8_0,True,True
L9-8-0,L9-8-0,1.19,10.08,0.0,0.001045,0.0,0.001045,0.0,0.0,0.0,0.0,0.0,0.0,VL3,VL8,VL3_1,VL8_0,True,True
L7-5-0,L7-5-0,3.20,16.10,0.0,0.001530,0.0,0.001530,0.0,0.0,0.0,0.0,0.0,0.0,VL2,VL5,VL2_1,VL5_0,True,True
L9-6-0,L9-6-0,3.90,17.00,0.0,0.001790,0.0,0.001790,0.0,0.0,0.0,0.0,0.0,0.0,VL3,VL6,VL3_1,VL6_0,True,True
L5-4-0,L5-4-0,1.00,8.50,0.0,0.000880,0.0,0.000880,0.0,0.0,0.0,0.0,0.0,0.0,VL5,VL1,VL5_0,VL1_1,True,True
L6-4-0,L6-4-0,1.70,9.20,0.0,0.000790,0.0,0.000790,0.0,0.0,0.0,0.0,0.0,0.0,VL6,VL1,VL6_0,VL1_1,True,True